<template>
    <div>
        <ul>
            <li v-for="d in paths.data">
                <router-link
                    :to="{ name: d, params: { lang: locale == 'en' ? null : '-' + locale } }"
                >{{ $t('goto') }} {{ d }}</router-link>
            </li>
        </ul>
        <select v-model="locale" @change="changeLocale">
            <option
                v-for="locale in locales.data"
                :key="`locale-${locale}`"
                :value="locale"
            >{{ locale }}</option>
        </select>
        <router-view></router-view>
    </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { data } from '../data';
import { useRouter } from 'vue-router';
import { reactive, ref } from 'vue';

const i18n = useI18n();
const router = useRouter();

let locales = reactive({ data: i18n.availableLocales })
let paths = reactive({ data: data[i18n.locale.value] });

const locale = ref(i18n.locale.value);

function changeLocale() {
    router.push({ name: router.currentRoute.value.name, params: { lang: locale.value == 'en' ? null : '-' + locale.value } })
    paths.data = data[locale.value]
}

</script>